@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/BAHNSCHRIFT.TTF);
}
* {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
body > header,
body > main,
body > footer {
  width: 100%;
  padding: 1rem 2rem;
}
body > main {
  flex: 1 0 auto;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

section {
  margin-bottom: 15vh;
}

.header-flex {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-adjust-bottom {
  flex-shrink: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.header-color,
.footer-color {
  background: #4f6272;
  background: linear-gradient(180deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.footer-color {
  background: linear-gradient(0deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.modify-li-items > nav > ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.modify-li-items > nav > ul > li {
  padding: 0 1rem;
}
.modify-li-items > nav > ul > li > a {
  text-decoration: none;
}

nav a {
  color: #e6af2e;
}

.selected > a {
  color: #4f6272;
}

.float-right {
  float: right;
}

.padding-bottom {
  padding-bottom: 2rem;
}

* {
  font-size: 1.4rem;
}

.underline {
  text-decoration: underline;
}

.title-text {
  margin: auto;
  align-self: center;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  color: #4f6272;
  margin-bottom: 3rem;
}
.title-text.reduced {
  font-weight: 800;
  font-size: 2rem;
}

.logotype-text {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.subtitle-text {
  font-size: 1.9rem;
  font-weight: 600;
}

p.subtitle-text {
  display: inline;
}

.footer-text-fixed {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  color: #4f6272;
  position: sticky;
  margin-bottom: 0;
  bottom: 0;
}

.text-right {
  text-align: right;
}

b {
  color: #ff4f00;
}

.reference {
  color: #a63d40;
}

p {
  margin-bottom: 1.6rem;
}

@media (max-device-width: 1440px) {
  * {
    font-size: 1.3rem;
  }
}
@media (max-device-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
}
@media (max-device-width: 575px) {
  * > main {
    margin: auto;
  }
  * > main > section > p {
    width: 100%;
    margin: auto;
    margin-bottom: revert;
  }
  body > main {
    padding: 1rem 0.5rem;
  }
  nav {
    opacity: 0;
    visibility: hidden;
    background-color: #f7f7f7;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
  }
  nav > ul {
    width: 50vw;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
  }
  nav > ul > li {
    width: 100%;
    text-align: end;
    background-color: #4f6272;
  }
  nav > ul > li a {
    font-size: 2rem;
  }
  .visible:root:not(nav) {
    display: none;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }
  .selected > a {
    color: #e6af2e;
  }
  .selected ~ li:not(.selected) > a {
    color: #fff;
  }
  .title-text {
    font-size: 2.5rem;
    clear: left;
  }
  .logotype-text {
    font-size: 1.5rem;
  }
  .modify-li-items > nav > div > a {
    overflow: visible;
    padding: 1px 2px 3px 4px;
    color: #6de3ce;
    text-decoration: none;
    font-size: 2rem;
  }
}
.p-width-adjust > p {
  width: 55%;
}
.p-width-adjust > ul {
  padding-left: 2rem;
}
.p-width-adjust-max > p {
  width: 75%;
}
.p-width-adjust-max > ul {
  padding-left: 2rem;
}

.force-left {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

p.force-fit-width {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 2rem;
}

.photo-offset {
  overflow: hidden;
  margin-top: 2.3rem;
  margin-bottom: 10rem;
  float: right;
  width: 35%;
  border-radius: 100%;
}

.clear-floats {
  clear: both;
}

a.button-box {
  border-radius: 50px;
  padding: 1rem;
  color: white;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4f6272;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container > * {
  margin: 0 1.5rem;
}
.flex-container-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container ul {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.flex-container ul > * {
  width: 55%;
}
.flex-container ul > a {
  width: initial;
}
.flex-container ul > h1,
.flex-container ul h2,
.flex-container ul h3,
.flex-container ul h4,
.flex-container ul h5,
.flex-container ul h6 {
  width: 100%;
}

img.float-img-left {
  float: left;
}

img.float-img-right {
  float: right;
}

@media (max-device-width: 575px) {
  a.button-box {
    text-align: center;
    display: block;
    margin: auto;
  }
  .p-width-adjust > p {
    width: 100%;
  }
  .p-width-adjust-max > p {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-container.M-l.no-column {
    flex-direction: row;
  }
  .flex-container.M-l.no-column button {
    padding: 0.5rem 1rem;
  }
  .M-l.move-img-down {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
    float: none;
  }
  .M-l.container-center {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
  }
  .M-l.margin-bottom {
    margin-bottom: 1rem;
  }
  .M-l.force-left {
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}
.adjust-margin-boxes > * {
  margin: 1rem 0rem;
}

.image-transform {
  width: 80vw;
}

section.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
section.flex-container.row {
  flex-direction: row;
}
section.flex-container.row > h1,
section.flex-container.row h2,
section.flex-container.row h3,
section.flex-container.row h4,
section.flex-container.row h5,
section.flex-container.row h6 {
  width: 100vw;
}

.flex-container-img {
  align-self: center;
}
.flex-container-img-small {
  border-radius: 50px;
  align-self: unset;
  width: 50vw;
  height: auto;
}
.flex-container-img-smaller {
  border-radius: 35px;
  margin: 1rem 0;
  align-self: unset;
  width: 30vw;
  height: auto;
}

.flex-container-center {
  align-self: center;
}

.flex-direction-column {
  flex-direction: column;
}

@media (max-device-width: 575px) {
  .M-l.hide {
    display: none;
  }
  .flex-container ul > * {
    width: 100%;
  }
  .flex-container-img-small {
    width: 100%;
  }
  .flex-container-img-smaller {
    width: 100%;
  }
  .flex-direction-column {
    margin: 1rem 0;
  }
  .flex-direction-column > * {
    margin: 0.5rem 0;
  }
  h2 {
    display: block;
    width: 100%;
    margin: auto;
  }
  section.flex-container .M-l.adjust-text-size {
    font-size: 1.8rem;
  }
}
.faded-block-color {
  background-color: rgba(79, 98, 114, 0.2);
}
.faded-block-color-blogpost {
  background-color: rgba(79, 98, 114, 0.2);
  padding: 1.5rem;
  border-radius: 30px;
}
.faded-block-color-blogpost hgroup {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.faded-block-color-blogpost hgroup h2 {
  width: -webkit-fill-available;
}
.faded-block-color-blogpost hgroup h3 {
  margin-left: 2rem;
}
.faded-block-color-blogpost li {
  margin-left: 2rem;
}
.faded-block-color-blogpost * {
  margin-bottom: 1rem;
}

form {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.block-color {
  background-color: #4f6272;
}
.block-color-grid {
  background-color: #4f6272;
  border-radius: 45px;
  padding: 1rem 0;
  margin-bottom: 2rem;
  display: grid;
  grid-template-areas: "name-div email-div" "type-div ." "text-div text-div";
}
.block-color-grid div {
  margin: 1rem;
}
.block-color-grid #name-div {
  grid-area: name-div;
}
.block-color-grid #email-div {
  grid-area: email-div;
}
.block-color-grid #type-div {
  grid-area: type-div;
}
.block-color-grid #text-div {
  grid-area: text-div;
  display: flex;
}
.block-color-grid #text-div > label {
  margin-right: 1rem;
}
.block-color-grid #text-div > textarea {
  width: 80%;
}
.block-color-grid * {
  border-radius: 15px;
}
.block-color-grid label {
  color: #fff;
}

.button-box-primary {
  border-radius: 50px;
  padding: 0.5rem 2rem;
  color: white;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4f6272;
}
.button-box-warning {
  border-radius: 50px;
  padding: 0.5rem 2rem;
  color: white;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #a63d40;
}

.padding-left {
  padding-left: 3rem;
}

.social-logo img {
  border-radius: 100%;
  width: 9vw;
}

@media (max-device-width: 880px) {
  .M-l.padding-left {
    padding: 0 0.5rem;
  }
  a {
    text-overflow: ellipsis;
  }
  .social-logo img {
    width: 19vw;
  }
  .block-color-grid {
    grid-template-areas: "name-div" "email-div" "type-div" "text-div";
  }
  .block-color-grid input,
  .block-color-grid select {
    box-sizing: border-box;
    margin-left: 10%;
    width: 80%;
  }
  .block-color-grid #text-div {
    flex-direction: column;
  }
  .block-color-grid #text-div > textarea {
    width: 100%;
  }
}
@media (max-device-width: 575px) {
  form {
    width: 90%;
    margin: auto;
  }
}