@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/BAHNSCHRIFT.TTF);
}
* {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
body > header,
body > main,
body > footer {
  width: 100%;
  padding: 1rem 2rem;
}
body > main {
  flex: 1 0 auto;
}

section {
  margin-bottom: 15vh;
}

.header-flex {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-adjust-bottom {
  flex-shrink: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.header-color,
.footer-color {
  background: #4f6272;
  background: linear-gradient(180deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.footer-color {
  background: linear-gradient(0deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.modify-li-items > nav > ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.modify-li-items > nav > ul > li {
  padding: 0 1rem;
}
.modify-li-items > nav > ul > li > a {
  text-decoration: none;
  color: #e6af2e;
}
.modify-li-items > nav > ul > li .selected {
  color: #4f6272;
}

.float-right {
  float: right;
}

.padding-bottom {
  padding-bottom: 2rem;
}

* {
  font-size: 1.4rem;
}

.underline {
  text-decoration: underline;
}

.title-text {
  margin: auto;
  align-self: center;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  color: #4f6272;
  margin-bottom: 3rem;
}
.title-text.reduced {
  font-weight: 800;
  font-size: 2rem;
}

.logotype-text {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.subtitle-text {
  font-size: 1.9rem;
  font-weight: 600;
}

.footer-text-fixed {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  color: #4f6272;
  position: sticky;
  margin-bottom: 0;
  bottom: 0;
}

.text-right {
  text-align: right;
}

b {
  color: #ff4f00;
}

.reference {
  color: #a63d40;
}

p {
  margin-bottom: 1.6rem;
}

@media (max-device-width: 1440px) {
  * {
    font-size: 1.3rem;
  }
}
@media (max-device-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
}
@media (max-device-width: 425px) {
  * > main {
    margin: auto;
  }
  * > main > section > p {
    margin: auto;
    margin-bottom: revert;
  }
  .title-text {
    font-size: 2.5rem;
  }
  .logotype-text {
    font-size: 1.5rem;
  }
  .modify-li-items > nav {
    display: none;
  }
}
.p-width-adjust > p {
  width: 55%;
}
.p-width-adjust > ul {
  padding-left: 2rem;
}
.p-width-adjust-max > p {
  width: 75%;
}
.p-width-adjust-max > ul {
  padding-left: 2rem;
}

.force-left {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

p.force-fit-width {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 2rem;
}

.photo-offset {
  margin-top: 2.3rem;
  margin-bottom: 10rem;
  float: right;
  width: 35%;
  border-radius: 100%;
}

.clear-floats {
  clear: both;
}

a.button-box {
  border-radius: 50px;
  padding: 1rem;
  color: white;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4f6272;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container > * {
  margin: 0 1.5rem;
}
.flex-container-row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container ul {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-container ul > * {
  width: 55%;
  margin-bottom: 1rem;
}
.flex-container ul > a {
  width: initial;
}
.flex-container ul > h1,
.flex-container ul h2,
.flex-container ul h3,
.flex-container ul h4,
.flex-container ul h5,
.flex-container ul h6 {
  width: 100%;
}

img.float-img-left {
  float: left;
}

img.float-img-right {
  float: right;
}

.adjust-margin-boxes > * {
  margin: 1rem 0rem;
}

.image-transform {
  width: 80vw;
}

section.flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
section.flex-container.row {
  flex-direction: row;
}
section.flex-container.row > h1,
section.flex-container.row h2,
section.flex-container.row h3,
section.flex-container.row h4,
section.flex-container.row h5,
section.flex-container.row h6 {
  width: 100vw;
}

.flex-container-img {
  align-self: center;
}
.flex-container-img-small {
  border-radius: 50px;
  align-self: unset;
  width: 50vw;
  height: auto;
}
.flex-container-img-smaller {
  border-radius: 35px;
  margin: 1rem 0;
  align-self: unset;
  width: 30vw;
  height: auto;
}

.flex-container-center {
  align-self: center;
}

.flex-direction-column {
  flex-direction: column;
}