@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/BAHNSCHRIFT.TTF);
}
* {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
body > header,
body > main,
body > footer {
  width: 100%;
  padding: 1rem 2rem;
}
body > main {
  flex: 1 0 auto;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

section {
  margin-bottom: 15vh;
}

.header-flex {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-adjust-bottom {
  flex-shrink: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.header-color,
.footer-color {
  background: #4f6272;
  background: linear-gradient(180deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.footer-color {
  background: linear-gradient(0deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.modify-li-items > nav > ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.modify-li-items > nav > ul > li {
  padding: 0 1rem;
}
.modify-li-items > nav > ul > li > a {
  text-decoration: none;
}

nav a {
  color: #e6af2e;
}

.selected > a {
  color: #4f6272;
}

.float-right {
  float: right;
}

.padding-bottom {
  padding-bottom: 2rem;
}

* {
  font-size: 1.4rem;
}

.underline {
  text-decoration: underline;
}

.title-text {
  margin: auto;
  align-self: center;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  color: #4f6272;
  margin-bottom: 3rem;
}
.title-text.reduced {
  font-weight: 800;
  font-size: 2rem;
}

.logotype-text {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.subtitle-text {
  font-size: 1.9rem;
  font-weight: 600;
}

p.subtitle-text {
  display: inline;
}

.footer-text-fixed {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  color: #4f6272;
  position: sticky;
  margin-bottom: 0;
  bottom: 0;
}

.text-right {
  text-align: right;
}

b {
  color: #ff4f00;
}

.reference {
  color: #a63d40;
}

p {
  margin-bottom: 1.6rem;
}

@media (max-device-width: 1440px) {
  * {
    font-size: 1.3rem;
  }
}
@media (max-device-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
}
@media (max-device-width: 575px) {
  * > main {
    margin: auto;
  }
  * > main > section > p {
    width: 100%;
    margin: auto;
    margin-bottom: revert;
  }
  body > main {
    padding: 1rem 0.5rem;
  }
  nav {
    opacity: 0;
    visibility: hidden;
    background-color: #f7f7f7;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
  }
  nav > ul {
    width: 50vw;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
  }
  nav > ul > li {
    width: 100%;
    text-align: end;
    background-color: #4f6272;
  }
  nav > ul > li a {
    font-size: 2rem;
  }
  .visible:root:not(nav) {
    display: none;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }
  .selected > a {
    color: #e6af2e;
  }
  .selected ~ li:not(.selected) > a {
    color: #fff;
  }
  .title-text {
    font-size: 2.5rem;
    clear: left;
  }
  .logotype-text {
    font-size: 1.5rem;
  }
  .modify-li-items > nav > div > a {
    overflow: visible;
    padding: 1px 2px 3px 4px;
    color: #6de3ce;
    text-decoration: none;
    font-size: 2rem;
  }
}