@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/BAHNSCHRIFT.TTF);
}
* {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
body > header,
body > main,
body > footer {
  padding: 1rem 2rem;
}
body > main {
  flex: 1 0 auto;
}

section {
  margin-bottom: 15vh;
}

.header-flex {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-adjust-bottom {
  flex-shrink: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.header-color,
.footer-color {
  background: #4f6272;
  background: linear-gradient(180deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.footer-color {
  background: linear-gradient(0deg, rgba(79, 98, 114, 0.2) 0%, rgba(79, 98, 114, 0) 100%);
}

.modify-li-items > nav > ul {
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.modify-li-items > nav > ul > li {
  padding: 0 1rem;
}
.modify-li-items > nav > ul > li > a {
  text-decoration: none;
  color: #e6af2e;
}
.modify-li-items > nav > ul > li .selected {
  color: #4f6272;
}

* {
  font-size: 1.2rem;
}

.title-text {
  margin: auto;
  align-self: center;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  color: #4f6272;
  margin-bottom: 3rem;
}

.logotype-text {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.subtitle-text {
  font-size: 1.9rem;
  font-weight: 600;
}

.footer-text-fixed {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  color: #4f6272;
  position: sticky;
  margin-bottom: 0;
  bottom: 0;
}

b {
  color: #ff4f00;
}
b.reference {
  color: #a63d40;
}

p {
  margin-bottom: 1.6rem;
}

@media (max-device-width: 425px) {
  .modify-li-items > nav {
    display: none;
  }
}