$primary-color: #4f6272;
$primary-color-faded: rgba(79, 98, 114, 20%);
$secondary-color: #6de3ce;
$tertiary-color: #a63d40;
$warning-color: #ff4f00;
$mustard-color: #e6af2e;

$bg-color: #f7f7f7;
$gradient-color-0: rgba(79, 98, 114, 0.2);
$gradient-color-100: rgba(79, 98, 114, 0);

@font-face {
  font-family: Bahnschrift;
  src: url(../fonts/BAHNSCHRIFT.TTF);
}
