@forward "./stylesheet.scss";
@use "./stylesheet.scss" as main;
@use "./designs.scss" as d;

.p-width-adjust {
  > p {
    width: 55%;
  }
  > ul {
    padding-left: 2rem;
  }
  &-max {
    > p {
      width: 75%;
    }
    > ul {
      padding-left: 2rem;
    }
  }
}

.force-left {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
p.force-fit-width {
  display: inline-block;
  width: fit-content;
  margin-right: 2rem;
}

.photo-offset {
  overflow: hidden;
  margin-top: 2.3rem;
  margin-bottom: 10rem;
  float: right;
  width: 35%;
  border-radius: 100%;
}

.clear-floats {
  clear: both;
}

a.button-box {
  border-radius: 50px;
  padding: 1rem;
  color: white;
  display: inline-block;
  width: fit-content;
  background-color: d.$primary-color;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    margin: 0 1.5rem;
  }
  &-row-wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  & ul {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    > * {
      width: 55%;
    }
    > a {
      width: initial;
    }
    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 100%;
    }
  }
}

img.float-img-left {
  float: left;
}
img.float-img-right {
  float: right;
}

@media (max-device-width: 500px) {
  a.button-box {
    text-align: center;
    display: block;
    margin: auto;
  }
  .p-width-adjust > p {
    width: 100%;
  }
  .p-width-adjust-max > p {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
    &.M-l.no-column {
      flex-direction: row;
      button {
        padding: 0.5rem 1rem;
      }
    }
  }
  .M-l {
    &.move-img-down {
      width: 90%;
      margin-left: 5%;
      margin-bottom: 1rem;
      float: none;
    }
    &.container-center {
      display: block;
      width: fit-content;
      margin: auto;
      margin-bottom: 1rem;
    }
    &.margin-bottom {
      margin-bottom: 1rem;
    }
    &.force-left {
      margin: auto;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
