@forward "./stylesheet.scss";
@use "./stylesheet.scss" as main;
@use "./designs.scss" as d;

.p-width-adjust {
  > p {
    width: 55%;
  }
  > ul {
    padding-left: 2rem;
  }
  &-max {
    > p {
      width: 75%;
    }
    > ul {
      padding-left: 2rem;
    }
  }
}

.force-left {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
p.force-fit-width {
  display: inline-block;
  width: fit-content;
  margin-right: 2rem;
}

.photo-offset {
  margin-top: 2.3rem;
  margin-bottom: 10rem;
  float: right;
  width: 35%;
  border-radius: 100%;
}

.clear-floats {
  clear: both;
}

a.button-box {
  border-radius: 30px;
  padding: 0.5rem;
  color: white;
  display: inline-block;
  width: fit-content;
  background-color: d.$primary-color;
}
