@use "./designs.scss" as d;

// Reglas generales para todas las paginas, se añaden las paginas especificas en otros archivos sass
// INSTRUCCIONES DE MANTENIMIENTO:
// Como tener una unica stylesheet me parece monolitico se hace un hoja comun para todos y se separan otras hojas especificas por paginas de contenido
// stylesheet: contiene el formateo general para todas las paginas
// index, portfolio, blog, contact: contienen formateos especificos para el contenido dentro del main

// Casi todo se maneja con clases y selectores dentro de la misma para evitar tener que hace mantenimiento a elementos directos que anda a saber donde esta el problema

// Reset css
* {
  font-family: Bahnschrift;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

// color de cuerpo, se declara un flex para empujar el footer abajo
body {
  // se utiliza viewheigh para tener la altura del aparato, se probo con % pero no funciona
  // -----------------
  // ¡¡¡AVISO!!!
  // -----------------
  // Por alguna razon el body en el devtool del navegador chromium se achica y genera errores, usar FF o Edge para testeo
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: d.$bg-color;

  > header,
  > main,
  > footer {
    width: 100%;
    padding: 1rem 2rem;
  }
  > main {
    flex: 1 0 auto;
  }
}

section {
  margin-bottom: 15vh;
}

// header flex para todas las paginas
.header-flex {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-adjust-bottom {
  flex-shrink: 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.header-color,
.footer-color {
  background: d.$primary-color;

  background: linear-gradient(
    180deg,
    d.$gradient-color-0 0%,
    d.$gradient-color-100 100%
  );
}
.footer-color {
  background: linear-gradient(
    0deg,
    d.$gradient-color-0 0%,
    d.$gradient-color-100 100%
  );
}

.modify-li-items {
  > nav > ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    > li {
      padding: 0 1rem;
      > a {
        text-decoration: none;
        color: d.$mustard-color;
      }
      .selected {
        color: d.$primary-color;
      }
    }
  }
}

.float-right {
  float: right;
}

.padding-bottom {
  padding-bottom: 2rem;
}

// TEXT MODIFICATIONS
* {
  font-size: 1.4rem;
}

.underline {
  text-decoration: underline;
}

.title-text {
  margin: auto;
  align-self: center;
  font-weight: 900;
  width: fit-content;
  font-size: 3rem;
  letter-spacing: 1.4px;
  text-align: center;
  color: d.$primary-color;
  margin-bottom: 3rem;
  &.reduced {
    font-weight: 800;
    font-size: 2rem;
  }
}

.logotype-text {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}
.subtitle-text {
  font-size: 1.9rem;
  font-weight: 600;
}
p.subtitle-text {
  display: inline;
}
.footer-text-fixed {
  align-self: center;
  text-align: center;
  flex-grow: 1;
  color: d.$primary-color;
  position: sticky;
  margin-bottom: 0;
  bottom: 0;
}

.text-right {
  text-align: right;
}

b {
  color: d.$warning-color;
}
.reference {
  color: d.$tertiary-color;
}
p {
  margin-bottom: 1.6rem;
}

@media (max-device-width: 1440px) {
  * {
    font-size: 1.3rem;
  }
}
@media (max-device-width: 1024px) {
  * {
    font-size: 1.2rem;
  }
}

@media (max-device-width: 500px) {
  * > main {
    margin: auto;
    & > section > p {
      width: 100%;
      margin: auto;
      margin-bottom: revert;
    }
  }
  body > main {
    padding: 1rem 0.5rem;
  }
  .title-text {
    font-size: 2.5rem;
    clear: left;
  }
  .logotype-text {
    font-size: 1.5rem;
  }

  .modify-li-items > nav {
    display: none;
  }
}

// Aqui abajo se añaden las stylesheets para generacion de codigo CSS unico, remover de comentario cuando se genera una nueva
// @forward "./index.scss";
// @forward "./portfolio.scss";
// @forward "./blog.scss";
// @forward "./contact.scss"
